<!DOCTYPE html>

<html lang="en" ng-app="TestApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Testing Challenge</title>
    <meta name="description" content="Testing Challenge">
    <meta name="author" content="Group-5: William Heston, Casey Lee, Fan Yang, Nathan Yin">

    <!-- load Bootstrap and custom style sheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- load Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <!-- load our script -->
    <script src="js/script.js"></script>

</head>

<body ng-controller="TestCtrl">

    <h1>Sign Up Now!</h1>
    <h3>Fill out the form to see if you have what it takes!</h3>

    <form name="testForm" novalidate>

        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required></input>
        </div>

        <!-- First Name -->
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" placeholder="your first name" class="form-control"></input>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" ng-model="lastname" placeholder="your last name" class="form-control" required></input>
            <p class="help-block" ng-show="testForm.lastname.$invalid && testForm.lastname.$touched">We need to at least know your last name</p>
        </div>

        <!-- Birthdate -->
        <div class="form-group">
            <label for="birthDate">Birthdate:</label>
            <input type="text" id="birthDate" name="birthDate" class="form-control" ng-model="birthDate" required></input>

        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="pw">Password:</label>
            <input id="pw" name="password" type="password" class="form-control" ng-model="pw" required></input>
            <p class="help-block" ng-if="testForm.password.$touched && testForm.password.$error.required">Required!</p>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
            <label for="cPw">Confirm Password:</label>
            <input id="cPw" name="password" type="password" class="form-control" ng-model="cPw" required></input>
            
        </div>

        <!-- Submit or Reset -->
        <div class="form-group">
            <button type="reset" class="btn btn-primary"> Reset</button>
            <button type="submit" class="btn btn-primary" ng-click="checkValidity()">Sign-up</button>
        </div>
    </form>
</body>

</html>